/* Mobile */
@media screen and (max-width: 767px) {
    .header-part {
        display: none;
    }

    .mobile-header-part {
        display: block;
    }

    .tour-details-header {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 20px;

        h1 {
            font-size: 24px;
        }
    }

    .tour-details-image {
        flex-direction: column;

        .left-img,
        .right-img {
            width: 100%;
        }

        .right-img {
            flex-direction: row !important;

            img {
                width: 50%;
            }
        }
    }

    .tour-details-info {
        flex-direction: column;
        gap: 20px;
    }

    .tour-details-info-left {
        .nav-item {
            padding-right: 6px !important;
        }
    }

    .main-tab {
        margin-right: 0 !important;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .header-part {
        display: none;
    }

    .mobile-header-part {
        display: block;
    }

    .tour-details-header {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 20px;

        h1 {
            font-size: 24px;
        }
    }
}